
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap'); 
  #podium-box {
    margin: 0 auto;
    display: flex;
    height: 300px;
    padding: 20px;
  }
  
  .podium-number {
    font-weight: bold;
    font-size: 1em;
    color: white;
  }
  
  .step-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
  
  .step-container>div:first-child {
    margin-top: auto;
    text-align: center;
  }
  
  .step {
    text-align: center;
  }
  
  .bg-blue {
    background-color: #063b65;
  }
  
  #first-step {
    height: 100%;
    background-color:gold;
    border-radius: 8px;
  }
  
  #second-step {
    height: 75%;
    right: 25%;
    background-color:silver;
    border-radius: 8px;
  }
  
  #third-step {
    height: 50%;
    background-color:burlywood;
    border-radius: 8px;
  }
.points{
  position: absolute;
  text-align: center;
  right: 5%;
}
.response{
  position: absolute;
  text-align: left;
  right: 25%; 

}
.question{
  position: absolute;
  text-align: center;
}

.black-container{
  margin: auto;
  text-align: center;
  border-radius: 8px;
  width:500px;
  height:100px;
  background-color: rgb(166, 175, 226);
}

.result-container{
  padding: 10px;
  background-color: rgb(223, 223, 223);
  text-align: center;
  height: 25px;
  margin: 10px;
  border-radius: 10px;
}
.resultsPage{
  position: relative;
  font-family: 'Quicksand', sans-serif;
  padding: 50px;
  text-align: center;
  background-image: url('./sheepbackimage.jpg');
  height: 150vh;
}
.resultsPage::before{
  position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}
.resultspage-container{
  position:relative;
}

#final-result{
  display:none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 184);
  height : 70%;
  border-radius: 8px;
}
.totPoints{
  border-radius: 50%;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 8px;
  font-size: 100px;
  background-color: #fff;
  border: 10px solid rgb(26, 182, 230);
  color: #666;
  text-align: center;
}
.userName{
  padding: 20px;
  font-size: 40px;
}

#numPoints{
  margin: -5px;
  font-size: 15px;
}

.result-container2{
  padding: 10px;
  font-size: 30px;
  background-color: rgba(37, 198, 247, 0.475);
  text-align: center;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
}