@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.container{
    background-image: url('./sheepbackimage.jpg');
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
}
.container-fluid{
    font-family: 'Quicksand';
    text-align: center;
    background-color: rgb(220, 220, 220, 0.9);
    width: 80%;
    padding: 40px;
    border-radius: 30px;
}
.submitButton{
    padding: 20px;
}
span {
    transition: 300ms all ease;
    opacity: 0;
    will-change: opacity;
    font-family: 'Quicksand';
    color: red;
    display: inline-block;
    text-align: center;
  }
  
  .show {
    opacity: 1;
  }

  .emailError{
      color: red;
  }

.match{
    opacity:1;
}
.notifications{
    text-align: center;
    height: 20px;
}
.formContainer{
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
    transition: 200ms all ease;
    will-change: opacity;
}
.backButton{
    position: absolute;
    padding: 5px;
    top: 0%;
    left: 0%;
}
.popup{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content:center;
    top: 0%;
    font-family: 'Quicksand';
    text-align: center;
    width: 60%;
    height: 95%;
    padding: 40px;
    z-index: 1;
    border-radius: 30px;
}
.popup-content{
    top: 0%;
    font-family: 'Quicksand';
    text-align: center;
    background-color: rgb(220, 220, 220);
    width: 90%;
    height: 80%;
    font-size: 1.66vh;
    border-radius: 30px;
}
.words{
    padding: 20px;
}
.example{
    background-color: rgb(52, 190, 249, 0.5);
    border-radius: 30px;
    padding: 1px;
}