button{
    font-family: 'Quicksand';
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top:5px;
    margin-left:5px;
    margin-bottom:5px;
    margin-right:5px;
}
button:hover{
    background-image:none !important;
    background-color:#BCBCBC !important;
}